@import url(./__item/photo-grid__item.css);

.photo-grid {
  max-width: 1184px;
  margin: 0 auto 88px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  grid-gap: 16px;
}

@media (max-width: 1200px) {
  .photo-grid {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
    grid-gap: 16px;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    max-width: 719px;
    display: block;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    max-width: 393px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 64px;
  }
}