@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list-description/intro__list-description.css);
@import url(./__list-digits/intro__list-digits.css);

.intro {
  max-width: 984px;
  margin: 92px auto;
}

@media (max-width: 1280px) {
  .intro {
    margin-left: 148px;
  }
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px;
  }
}

@media (max-width: 425px) {
  .intro {
    margin: 88px 16px;
  }
}