.cover__title {
  width: 560px;
  margin: 0 auto 32px;
  Font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
}

@media (max-width: 632px) {
  .cover__title {
    width: 400px;
    font-size: 55px;
  }
}

@media (max-width: 425px) {
  .cover__title {
    max-width: 250px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}