@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__link-inner/footer__link-inner.css);
@import url(./__menu/footer__menu.css);

.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 737px) {
  .footer {
    max-width: 200px;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .footer {
    max-width: 200px;
  }
}